@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 40% 90%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 70%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 60%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --text-select: #ac88ff;
    --blob-gradient: linear-gradient(
      47deg,
      hsl(14, 100%, 56%) 21%,
      hsl(199, 100%, 70%) 67%,
      hsl(282, 100%, 55%) 81%
    );
    --blob-gradient-1: linear-gradient(
      180deg,
      hsl(252, 100%, 50%) 20%,
      hsl(162, 100%, 50%) 80%
    );
    --blob-gradient-2: linear-gradient(
      90deg,
      hsl(166, 100%, 56%) 21%,
      hsl(74, 100%, 61%) 67%,
      hsl(254, 91%, 54%) 81%
    );
    --primary-button: linear-gradient(
        180deg,
        rgba(71, 165, 228, 0) 0%,
        rgba(143, 214, 255, 0.2) 100%
      ),
      rgba(145, 193, 255, 0.12);

    --button-inner-shadow: inset 0 0 12px #7bbfff70;

    --primary-button-hover: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(128, 204, 255, 0.3) 100%
      ),
      rgba(195, 226, 255, 0.3);
    --bg-dynamic: #ffffff30;
    --bg-dynamic-1: #ffffff80;
    --bg-dynamic-2: #ffffff;
    --dynamic-border: #00000020;
    --dynamic-border-contrast: #000000;
    --dynamic-shadow: 0 5px 15px -3px rgba(192, 192, 192, 0.288),
      0 4px 6px -2px rgba(199, 223, 255, 0.247);
    --dynamic-link: rgb(55, 116, 196);
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --text-reverse: #b6b6b6;
    --text-muted: #464646;

    --slider-gradient: linear-gradient(
      to right,
      oklch(90.17% 0.0289 296.72) 20%,
      oklch(73.41% 0.15 292.31) 30%,
      oklch(83.36% 0.07 249.83) 70%,
      oklch(83.15% 0.12 313.45) 80%
    );
    --pixel-size: 12;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 20%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 40%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --text-select: #381d79;
    --blob-gradient: linear-gradient(
      47deg,
      hsl(243, 100%, 67%) 21%,
      hsl(240, 6%, 51%) 67%,
      hsl(273, 37%, 47%) 81%
    );
    --blob-gradient-1: linear-gradient(
      180deg,
      hsl(260, 89%, 66%) 20%,
      hsl(240, 84%, 47%) 80%
    );
    --blob-gradient-2: linear-gradient(
      90deg,
      hsl(257, 91%, 46%) 21%,
      hsl(316, 85%, 32%) 67%,
      hsl(243, 92%, 34%) 81%
    );

    --primary-button: linear-gradient(
        180deg,
        rgba(60, 8, 126, 0) 0%,
        rgba(60, 8, 126, 0.32) 100%
      ),
      rgba(113, 47, 255, 0.12);

    --button-inner-shadow: inset 0 0 12px #bf97ff70;

    --primary-button-hover: linear-gradient(
        180deg,
        rgba(60, 8, 126, 0) 0%,
        rgba(60, 8, 126, 0.42) 100%
      ),
      rgba(113, 47, 255, 0.24);
    --bg-dynamic: #00000030;
    --bg-dynamic-1: #11111180;
    --bg-dynamic-2: #2e2e2e80;
    --dynamic-border: #ffffff10;
    --dynamic-border-contrast: #ffffff;
    --dynamic-shadow: 0 6px 15px -3px rgba(42, 14, 97, 0.5),
      0 4px 6px -2px rgba(42, 14, 97, 0.5);
    --dynamic-link: rgb(124 58 237);
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --text-reverse: #3d3d3d;
    --text-muted: #c0c0c0;
    --slider-gradient: linear-gradient(
      to right,
      oklch(9.62% 0.0562 285.05) 20%,
      oklch(48.67% 0.1973 303.35) 30%,
      oklch(40.66% 0.2074 273.96) 70%,
      oklch(9.62% 0.0562 285.05) 80%
    );
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .c-space {
    @apply sm:px-10 px-5;
  }

  /* button component */

  .btn-ping {
    @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75;
  }

  .btn-ping_dot {
    @apply relative inline-flex rounded-full h-3 w-3 bg-green-500;
  }

  /*  footer */
  .social-icon {
    @apply w-12 h-12 rounded-full flex justify-center items-center bg-black-300 border border-black-200;
  }
}

.nav-bg-dynamic {
  background: var(--bg-dynamic-1);
  backdrop-filter: blur(12px);
  border: 1px solid var(--dynamic-border);
  border-radius: 1rem;
  margin-top: 1rem;
}

/* .bg-dynamic {
  backdrop-filter: blur(12px);
  background: var(--bg-dynamic-1);
  border: 1px solid var(--dynamic-border);
} */

.dynamic-shadow {
  box-shadow: var(--dynamic-shadow);
}

.dynamic-link {
  color: var(--dynamic-link);
}

body::-webkit-scrollbar {
  display: none;
}

.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 2rem;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;
  background: #0b022260;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
} */

.button-primary {
  background: var(--primary-button);
  box-shadow: var(--button-inner-shadow);
}
.button-primary:hover {
  background: var(--primary-button-hover);
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

html {
  scroll-padding-top: 6rem;
  /* scroll-behavior: smooth; */
}

::selection {
  background-color: var(--text-select);
  color: white;
}

canvas {
  z-index: 10 !important;
}

.canvas-loader {
  z-index: 20 !important;
  position: relative;
}

.btn-border {
  border: 1px solid var(--dynamic-border-contrast);
}

.hero-btn {
  border: 1px solid var(--dynamic-border-contrast);
  color: var(--text-muted);
}

.hero-btn:hover {
  color: var(--foreground);
}

.card {
  width: 100%;
  height: 100%;
  border: 1px solid var(--dynamic-border);
  border-radius: 2rem;
  background: var(--bg-dynamic-1);
  /* backdrop-filter: blur(12px); */
}

.grid-card {
  border: 1px solid var(--dynamic-border);
  border-radius: 2rem;
  gap: 1.25rem;
  background: var(--bg-dynamic-1);
  /* backdrop-filter: blur(12px); */
}

.card-w-space {
  border: 1px solid var(--dynamic-border);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  background: var(--bg-dynamic-1);
}

.grid-subtext {
  margin-top: 0.75rem;
  opacity: 50%;
}

.globe-container {
  float: left; /* Position the globe to the left */
  shape-outside: circle(50%); /* Wrap text around the globe */
  clip-path: circle(50%); /* Ensure the globe itself is circular */
  width: 12rem; /* Adjust globe size */
  height: 12rem;
  background: #000000;
}

.btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--dynamic-border);
  background: var(--bg-dynamic-2);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  margin: 1rem auto 0 auto;
}

.link-btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid var(--dynamic-border);
  background: var(--bg-dynamic-2);
  /* backdrop-filter: blur(12px); */
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.icon {
  filter: invert();
}

.dark .icon {
  filter: none;
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

.text-shine:nth-child(1) {
  animation-delay: 0s;
}
.text-shine:nth-child(2) {
  animation-delay: 2s;
}
.text-shine:nth-child(3) {
  animation-delay: -18.33s;
}
/* Animations  */

.carousel {
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex: 0 0 100%;
  position: relative;
  -webkit-mask: linear-gradient(90deg, #0000, #000 10% 90%, #0000);
  mask: linear-gradient(90deg, #0000, #000 10% 90%, #0000);
}

.group-carousel-links {
  display: flex;
  gap: 20px;
  padding-right: 20px;
  will-change: transform;
  animation: scrolling 30s linear infinite;
}

.group-carousel-hobbies {
  display: flex;
  gap: 4rem;
  padding-right: 20px;
  will-change: transform;
  animation: scrolling 30s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.group-carousel-links-reverse {
  display: flex;
  gap: 20px;
  padding-right: 20px;
  will-change: transform;
  animation: scrolling-reverse 30s linear infinite;
}

@keyframes scrolling-reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.container-wrapper {
  container-type: inline-size;
  position: relative;
  z-index: 30;
}

.show-if-wide {
  display: none;
}

@container (min-width: 324px) {
  .show-if-wide {
    display: block;
  }
  .hide-if-wide {
    display: none;
  }
}

.blob {
  position: absolute;
  opacity: 0.3;
  aspect-ratio: 1/1;
  /* animation: animate-blob 60s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite
    alternate forwards; */
  z-index: -1;
  background: var(--blob-gradient);

  transform: translateZ(0);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  will-change: transform, border-radius;
}

@keyframes animate-blob {
  0% {
    transform: translate(-40%, 25%) rotate(0deg) scale(1);
    border-radius: 60% 40% 50% 70% / 100% 85% 92% 74%;
  }
  50% {
    transform: translate(0%, 13%) rotate(41deg) scale(1.15);
    border-radius: 40% 71% 47% 70% / 81% 35% 42% 54%;
  }
  100% {
    transform: translate(45%, 39%) rotate(-60deg) scale(1.05);
    border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
  }
}

.blob-1 {
  aspect-ratio: 1/1;
  /* animation: animate-blob-1 80s cubic-bezier(0.88, 0.85, 0.97, 0.75) infinite
    alternate forwards; */
  z-index: -1;
  background: var(--blob-gradient-1);
  transform: translateZ(0);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  will-change: transform, border-radius;
  border-radius: 100% 100% 100% 100% / 100% 100% 99% 94%;
}

@keyframes animate-blob-1 {
  0% {
    transform: translate(20%, -25%) rotate(0deg) scale(1);
    border-radius: 80% 80% 70% 90% / 100% 85% 92% 84%;
  }
  50% {
    transform: translate(0%, -13%) rotate(41deg) scale(1.15);
    border-radius: 90% 71% 87% 70% / 100% 85% 82% 94%;
  }
  100% {
    transform: translate(5%, -20%) rotate(-60deg) scale(1.05);
    border-radius: 100% 95% 92% 84% / 70% 90% 80% 99%;
  }
}

.blob-2 {
  position: absolute;
  opacity: 0.4;
  aspect-ratio: 1/1;
  /* animation: animate-blob-2 50s cubic-bezier(0.88, 0.85, 0.97, 0.75) infinite
    alternate forwards; */
  z-index: -1;
  background: var(--blob-gradient-2);
  transform: translateZ(0);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  will-change: transform, border-radius;
  border-radius: 100% 100% 100% 100% / 100% 100% 99% 94%;
}

@keyframes animate-blob-2 {
  0% {
    transform: translate(20%, -25%) rotate(0deg) scale(1);
    border-radius: 80% 80% 70% 90% / 100% 85% 92% 84%;
  }
  50% {
    transform: translate(-50%, -13%) rotate(41deg) scale(1.15);
    border-radius: 90% 71% 87% 70% / 100% 85% 82% 94%;
  }
  100% {
    transform: translate(5%, -20%) rotate(-60deg) scale(1.05);
    border-radius: 100% 95% 92% 84% / 70% 90% 80% 99%;
  }
}

.fade-in {
  animation: fadeIn 0.25s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .grid-container {
    padding: 1.75rem;
  }
}

@keyframes swirl {
  from {
    transform: translate(var(--center-x), var(--center-y)) rotate(0deg)
      translate(calc(var(--center-x) * -1), calc(var(--center-y) * -1));
  }
  to {
    transform: translate(var(--center-x), var(--center-y)) rotate(360deg)
      translate(calc(var(--center-x) * -1), calc(var(--center-y) * -1));
  }
}

/* Cat walk */

canvas {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

@keyframes draw-path {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

.animate-draw-path {
  animation: draw-path 2s ease-out forwards;
}

.animate-twinkle {
  animation: twinkle 3s infinite;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
